# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

//PayPal Sandbox
Sandbox Account
sb-ii8xi3740164@business.example.com

Client-ID
AZEn-5QtFho49PUILH6xFWPK2bCEPtpWl7CaXHXiKfp9Fc4nuUlvjA1I53AuGxOKvj2h5Do-3OgxwR_E

Secret
EMfuFlLBvJN1VpesCdo_QQb_GxlwUpn9p886MqXhV-VsyRp-bloZZXdrz4K93Z9OKFpMeH_P4YZZ2rwc

Email ID:
sb-cyeav3730615@personal.example.com

System Generated Password:
hxK4[*Ku

