body {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ui.borderless.menu {
  background-color: #f8f8f8;
  box-shadow: none;
  flex-wrap: wrap;
  border: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin: 0;
}

.ui.borderless.menu .header.item {
  font-size: 18px;
  font-weight: 400;
}

.ui.inverted.segment {
  background-color: #777;
}

.ui.vertical.segment:not(.inverted) {
  padding-top: 6rem;
}

.ui.borderless.inverted.menu {
  background-color: #2f2f2f;
  border-radius: 4px;
  flex-wrap: wrap;
}

.main-img {
  width: 100%;
}

.ui.search {
  float: right;
}

.plant-card{
  margin: 20px;
}